# File server storage
storage/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Vue build and modules
fe/build/
.DS_Store
fe/node_modules/
fe/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
fe/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
